/*.card{
  gap: 1rem;
  padding: 1rem;
  margin-top: 2rem;
  border: 3px solid black;
  min-height: 5rem;

}*/
@import url('../../global.css');
.card {
  text-align: start;
  width: 23%;
margin-top: 10px;
  flex-wrap: wrap;
  padding: .8em;
  background-color: var(--card);
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }
 
 
 
 .cardinfo {
  padding-top: 10%;
  padding-bottom: 1rem;
 }
 
 
 .cardfooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
 }
 
 /*Text*/
 .texttitle {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 1rem;
 }
 
 .textbody {
  font-size: .9em;
  padding-bottom: 10px;
 }
 