.container{
  width: 1000px;
  position: relative;
    margin-left: auto;
    margin-right: auto;
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top:2rem;
}

.form{
  display: flex;
  justify-content: center;
}
.input{
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
  padding-left: 10px;
  margin-bottom: 10px;
}
.subititle{
  margin-bottom: 2rem;
}
.button{
  background-color: var(--primary);
  color: #000;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0.75rem;
  cursor: pointer;
  width:15rem;
  text-align: center;
  text-decoration: none;
}
.button:hover{
  cursor: pointer;
  filter: brightness(0.5);
  transition: all 0.3s ease-in-out;
}